<table class="table table-hover table-bordered table-striped">
  <thead>
    <tr>
      <th></th>
      <th>ID</th>
      <th>Итого цена</th>
      <th>Оплачено</th>
      <th>тип оплаты</th>
      <th>Коммент</th>
      <th>Поставщик</th>
      <th>Создано в</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% delivery_from_counterparties.each do |delivery_from_counterparty| %>
      <tr>
        <td><%= active_check(delivery_from_counterparty.closed?) %></td>
        <td class="<%= detect_danger_row(delivery_from_counterparty.total_price, delivery_from_counterparty.total_paid) %>"><%= delivery_from_counterparty.id %></td>
        <td><%= number_to_currency(delivery_from_counterparty.total_price) %></td>
        <td><%= number_to_currency(delivery_from_counterparty.total_paid) %></td>
        <td><%= delivery_from_counterparty.payment_type %></td>
        <td><%= delivery_from_counterparty.comment %></td>
        <td><%= delivery_from_counterparty.provider.name %></td>
        <td><%= strf_datetime(delivery_from_counterparty.created_at) %></td>
        <td><%= clink_to 'Посмотреть', delivery_from_counterparty_path(delivery_from_counterparty), 'fa-search' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
