<div class="container my-5">
  <div class="card shadow">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h3 class="card-title font-weight-bold">Delivery From Counterparties</h3>
      <%= link_to 'Добавить новый', new_delivery_from_counterparty_path, class: "btn btn-success min-width-btn" %>
    </div>

    <div class="card-body">
      <table class="table table-hover table-bordered table-striped">
        <thead>
          <tr>
                        <th>Total price</th>
                        <th>Total paid</th>
                        <th>Paid in usd</th>
                        <th>Comment</th>
                        <th>Provider</th>
                        <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @delivery_from_counterparties.each do |delivery_from_counterparty| %>
            <tr>
                              <td><%= delivery_from_counterparty.total_price %></td>
                              <td><%= delivery_from_counterparty.total_paid %></td>
                              <td><%= delivery_from_counterparty.paid_in_usd %></td>
                              <td><%= delivery_from_counterparty.comment %></td>
                              <td><%= delivery_from_counterparty.provider_id %></td>
                            <td><%= clink_to 'Посмотреть', delivery_from_counterparty_path(delivery_from_counterparty), 'fa-search' %></td>
              <td><%= clink_to 'Редактировать', edit_delivery_from_counterparty_path(delivery_from_counterparty), 'fa-edit' %></td>
              <td><%= cdlink_to 'удалить', delivery_from_counterparty %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
