<p style="color: green"><%= notice %></p>

<%= render @delivery_from_counterparty %>

<div>
  <%= link_to "Edit this delivery from counterparty", edit_delivery_from_counterparty_path(@delivery_from_counterparty) %> |
  <%= link_to "Back to delivery from counterparties", delivery_from_counterparties_path %>

  <%= button_to "Destroy this delivery from counterparty", @delivery_from_counterparty, method: :delete %>
</div>
