<% unless @delivery_from_counterparty.closed? %>
  <%= render 'product_entries/form', product_entry: @product_entry, storage: @storage, products: @products, price_in_percentage: @price_in_percentage %>
<% end %>
<br><br>

<% unless @delivery_from_counterparty.product_entries.count.zero? %>
  <%= render 'product_entries/product_entries', product_entries: @product_entries, q: @q, deletable: true, shrink: true %>
<% end %>
<br><hr><hr>

<div class='d-flex justify-content-around'>
  <b>ИТОГО ЦЕНА ПРИХОДА: <%= num_to_usd @delivery_from_counterparty.calculate_total_price %></b>
  <b>ИТОГО ЦЕНА ПОСЛЕ ПРОДАЖИ: <%= num_to_usd @delivery_from_counterparty.calculate_sell_price %></b>
  <b>ИТОГО КОЛИЧЕСТВО: <%= @delivery_from_counterparty.product_entries.sum(:amount) %></b>
</div>

<% unless @delivery_from_counterparty.closed? %>
  <%= render 'form', delivery_from_counterparty: @delivery_from_counterparty %><br>
<% end %>
