<% unless @delivery_from_counterparty.closed? %>
  <%= render 'layouts/progress', value: '72' %>
  <%= render 'product_entries/form', product_entry: ProductEntry.new(delivery_from_counterparty_id: @delivery_from_counterparty.id) %>
<% end %>
<br><br>

<% unless @delivery_from_counterparty.product_entries.count.zero? %>
  <%= render 'product_entries/product_entries', product_entries: @product_entries, q: @q, deletable: true %>
<% end %>
<br><hr><hr>

<div><b>ИТОГО: <%= number_to_currency @delivery_from_counterparty.calculate_total_price %></b></div>

<% unless @delivery_from_counterparty.closed? %>
  <%= render 'form', delivery_from_counterparty: @delivery_from_counterparty %><br>
<% end %>
