<script>
  $(document).ready(function() {
    $('.products p').click(function() {
      $('.products p').removeClass('active');
      $(this).addClass('active');
      var h1Element = document.querySelector('#pack-name');
      var selectedProductText = $(this).data('product-name');
      h1Element.textContent = selectedProductText;
      document.querySelector('#product_sell_product_id').value = $(this).data('product-id');
      calculateSalePrice();
		});

    function calculateSalePrice(){
      var product_id = document.querySelector('#product_sell_product_id').value;
      var sell_price = document.querySelector('#product_sell_sell_price').value;
      var amount = document.querySelector('#product_sell_amount').value;
      var customActionURL = '/product_sells/ajax_sell_price_request';
      var data = {
        product_id: product_id,
        amount: amount
      };
      var csrfToken = $('meta[name="csrf-token"]').attr('content');
      if(sell_price != 0 || sell_price != null){
        fetch(customActionURL, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRF-Token': csrfToken, // Include the CSRF token in the request headers
          },
          body: JSON.stringify(data)
        })
        .then(function(response) {
          if (response.ok) {
            return response.text();
          } else {
            throw new Error('Error: ' + response.status);
          }
        })
        .then(function(responseText) {
          var sell_price = document.querySelector('#product_sell_sell_price').value = responseText;
        })
        .catch(function(error) {
          console.error(error);
        });
      }
    }
  })
</script>


<div class='p-3' style='color: black; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;'>
  <%= simple_form_for(product_sell) do |f| %>
    <div class='form-inputs'>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <%= f.collection_select :product_id, products.order('LOWER(name) ASC'), :id, :name, { include_blank: true }, { hidden: true, class: 'form-select form-control' } %><br>
      <div class='row'>
        <div class='col-sm-4'>
          <%= f.input :amount, label: 'Кол.' %>
        </div>
        <div class='col-sm-4'>
          <%= f.input :sell_price, label: 'Цена (1 шт)'%>
        </div>
        <div class='col-sm-4 align-self-center'>
          <%= f.submit "Создать", class: 'btn btn-primary'%>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-12'>
          <%= f.input :product_search, label: 'Искать товара', input_html:{style:'box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;', id: 'product_search_input'} %>
        </div>
      </div>
      <div style='max-height: 450px; overflow: auto' class='row'>
        <div id='products-list' class='col-sm-12 products'>
          <%= render 'product_sells/products_list_select' %>
        </div>
      </div>
    </div>
    <%= f.association :sale, as: :hidden %>
  <% end %>
</div>
