<div class='card-header shadow-lg'>
  <%= simple_form_for(product_sell) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= f.association :sale, as: :hidden %>

    <div class='row'>
      <div class='col-sm-4 col-md-2'>
        <%= f.label :product_code_id, 'Поиск товара по коду товара:' %>
        <%= f.collection_select :product_code_id, products.order('LOWER(name) ASC'), :id, :product_code, { include_blank: true }, { class: 'form-select form-control' } %>
      </div>
      <div class='col-sm-4 col-md-4'>
        <%= f.label :product_id, 'Или поиск по название товара:' %>
        <%= f.collection_select :product_id, products.order('LOWER(name) ASC'), :id, :name, { include_blank: true }, { class: 'form-select form-control' } %>
      </div>
      <div class='col-sm-4 col-md-2'>
        <%= f.input :amount, label: 'Количество', input_html: {value: ''} %>
      </div>
      <div class='col-sm-4 col-md-2'>
        <%= f.input :initial_remaining, label: 'остаток', input_html: { disabled: true } %>
      </div>
      <div class='col-sm-4 col-md-2 align-self-center'>
        <div id='price-fields'>
          <%= f.input :sell_price, label: 'Цена продажи'%>
        </div>
      </div>
      <div class='col-sm-4 col-md-2 d-flex align-self-center'>
        <%= f.submit "Создать", class: 'btn btn-primary'%>
      </div>
    </div>
  <% end %>
</div>

<script>
  $(document).ready(function() {
    document.querySelector('#product_sell_product_id').addEventListener('change', function(e) {
      document.querySelector('#product_sell_amount').value = 1;
      document.querySelector('#product_sell_product_code_id').value = document.querySelector('#product_sell_product_id').value;
      handleProductChange();
      calculateSalePrice();
    })

    document.querySelector('#product_sell_product_code_id').addEventListener('change', function(e) {
      document.querySelector('#product_sell_amount').value = 1;
      document.querySelector('#product_sell_product_id').value = document.querySelector('#product_sell_product_code_id').value;
      handleProductChange();
      calculateSalePrice();
    })

    document.querySelector('#product_sell_amount').addEventListener('change', function(e) {
      e.preventDefault();
      calculateSalePrice()
    });

    function calculateSalePrice(){
      var product_id = document.querySelector('#product_sell_product_id').value;
      var sell_price = document.querySelector('#product_sell_sell_price').value;
      var amount = document.querySelector('#product_sell_amount').value;
      var customActionURL = '/product_sells/ajax_sell_price_request';
      var data = {
        product_id: product_id,
        amount: amount
      };
      var csrfToken = $('meta[name="csrf-token"]').attr('content');
      if(sell_price != 0 || sell_price != null){
        fetch(customActionURL, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRF-Token': csrfToken, // Include the CSRF token in the request headers
          },
          body: JSON.stringify(data)
        })
        .then(function(response) {
          if (response.ok) {
            return response.text();
          } else {
            throw new Error('Error: ' + response.status);
          }
        })
        .then(function(responseText) {
          var sell_price = document.querySelector('#product_sell_sell_price').value = responseText;
        })
        .catch(function(error) {
          console.error(error);
        });
      }
    }

    function handleProductChange() {
      var productSelect = document.querySelector("#product_sell_product_id");
      var initialRemainingInput = document.querySelector("#product_sell_initial_remaining");

      if (productSelect) {
        var productId = productSelect.value;
        fetch('/products/' + productId + '/calculate_product_remaining')
          .then(response => response.json())
          .then(data => {
            initialRemainingInput.value = data.calculate_product_remaining;
          })
          .catch(error => console.error('Error:', error));
      }
    }
  })
</script>
