
<%= simple_form_for(@product_sell) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :combination_of_local_product %>
    <%= f.association :product %>
    <%= f.input :price %>
    <%= f.input :price %>
    <%= f.input :price %>
    <%= f.input :price %>
    <%= f.input :total_profit_in_usd %>
    <%= f.input :total_profit_in_uzs %>
    <%= f.input :payment_type, ProductSell.payment_types %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Завершить' %>
  </div>
<% end %>
