<div class="container my-5">
  <div class="card shadow">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h3 class="card-title font-weight-bold">Product Sells</h3>
      <%= link_to 'Добавить новый', new_product_sell_path, class: "btn btn-success min-width-btn" %>
    </div>

    <div class="card-body">
      <table class="table table-hover table-bordered table-striped">
        <thead>
          <tr>
                        <th>Combination of local product</th>
                        <th>Product</th>
                        <th>Sell price in usd</th>
                        <th>Sell price in uzs</th>
                        <th>Buy price in usd</th>
                        <th>Buy price in uzs</th>
                        <th>Total profit in usd</th>
                        <th>Total profit in uzs</th>
                        <th>payment_type</th>
                        <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @product_sells.each do |product_sell| %>
            <tr>
                              <td><%= product_sell.combination_of_local_product_id %></td>
                              <td><%= product_sell.product_id %></td>
                              <td><%= product_sell.sell_price_in_usd %></td>
                              <td><%= product_sell.sell_price_in_uzs %></td>
                              <td><%= product_sell.price %></td>
                              <td><%= product_sell.price %></td>
                              <td><%= product_sell.total_profit_in_usd %></td>
                              <td><%= product_sell.total_profit_in_uzs %></td>
                              <td><%= product_sell.payment_type %></td>
                            <td><%= clink_to 'Посмотреть', product_sell_path(product_sell), 'fa-search' %></td>
              <td><%= clink_to 'Редактировать', edit_product_sell_path(product_sell), 'fa-edit' %></td>
              <td><%= cdlink_to 'удалить', product_sell %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
