<%= simple_form_for(sale_from_service) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :total_price, label: 'Итого цена', input_html: { disabled: true } %>
    <%= f.input :total_paid, label: 'Итого оплачено в $', input_html: {value: 0, placeholder: 'Пропустите этот поле если клиент оплатили полностью'} %>
    <%= f.association :buyer, label: 'Покупатель', collection: Buyer.active.order(weight: :desc), include_blank: false %>
    <%= f.input :payment_type, label: 'Тип оплаты', collection: SaleFromService.payment_types.keys.map { |unit| [SaleFromService.human_attribute_name("unit.#{unit}"), unit] }, include_blank: false %>
    <%= f.input :comment, label: 'Комментарие' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Завершить' %>
  </div>
<% end %>
