<br>
<%= search_form_for @q, url: url, html: { class: 'form form-horizontal filter-form' } do |f| %>
  <div class="container card shadow">
    <div class="row">
      <div class="form-group col-xs-12 col-sm-4">
        <%= f.label :month_gteq, 'Месяц от:', class: 'control-label' %>
        <%= f.text_field :month_gteq, value: @q.month_gteq, class: 'datepicker form-control', autocomplete: :off %>
      </div>
      <div class="form-group col-xs-12 col-sm-4">
        <%= f.label :month_lteq, 'Месяц до:', class: 'control-label' %>
        <%= f.text_field :month_lteq, value: @q.month_lteq, class: 'datepicker form-control', autocomplete: :off %>
      </div>
      <div class="form-group col-xs-12 col-sm-4">
        <%= f.label :user_id_eq, 'Работники:', class: 'control-label' %>
        <%= f.select :user_id_eq, User.pluck(:name, :id), { include_blank: true }, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-xs-12 col-sm-4">
        <%= f.label :team_id_eq, 'Бригада:', class: 'control-label' %>
        <%= f.select :team_id_eq, Team.pluck(:name, :id), { include_blank: true }, class: 'form-control' %>
      </div>
      <div class="form-group col-xs-12 col-sm-4">
        <%= f.label :paid_in_usd_true, 'Оплачено в USD:', class: ' form-control' %>
        <%= f.check_box :paid_in_usd_true, {}, 1, nil %>
      </div>
      <div class="form-group col-xs-12 col-sm-4">
        <%= f.label :prepayment_eq, 'Аванс:', class: ' form-control' %>
        <%= f.check_box :prepayment_eq, {}, true, false %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="form-group col-xs-12 col-sm-6">
        <%= f.submit 'Фильтр', class: 'btn btn-primary' %>
        <%= link_to 'Очистить поиск', request.path, class: 'btn btn-default' %>
      </div>
    </div>
  </div>
<% end %>
<br>
