
<%= simple_form_for(@team_service) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :sale_from_service %>
    <%= f.input :total_price %>
    <%= f.input :team_fee %>
    <%= f.input :team_portion %>
    <%= f.input :company_portion %>
    <%= f.association :user %>
    <%= f.input :comment %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Завершить' %>
  </div>
<% end %>
