<div class="container my-5">
  <div class="card shadow">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h3 class="card-title font-weight-bold">Team Services</h3>
      <%= link_to 'Добавить новый', new_team_service_path, class: "btn btn-success min-width-btn" %>
    </div>

    <div class="card-body">
      <%= render 'filter_form', q: @q, url: request.path %>
      <%= render 'team_services', team_services: @team_services %>
      <%= paginate @team_services %>
      <table class='table-bordered'>
        <thead>
          <tr>
            <th>Итого цена</th>
            <th>Price for team</th>
            <th>Price for company</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= number_to_currency(@all_team_services.sum(:total_price)) %></td>
            <td><%= number_to_currency @all_team_services.sum(:team_portion) %></td>
            <td><%= @all_team_services.sum(:total_price) - @all_team_services.sum(:company_portion) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
