<br>
<div id='filter-toggle'>
  <%= search_form_for @q, url: url, html: { class: 'form form-horizontal filter-form' } do |f| %>
    <div class="card shadow">
      <div class="row card-body">
        <div class="form-group col-xs-12 col-sm-3">
          <%= f.label :provider_id_eq, 'Provider id:', class: 'control-label' %>
          <%= f.select :provider_id_eq, Provider.active.pluck(:name, :id), { include_blank: true }, class: 'form-control' %>
        </div>
        <div class="form-group col-xs-12 col-sm-3">
          <%= f.label :product_id_eq, 'product id:', class: 'control-label' %>
          <%= f.select :product_id_eq, Product.active.pluck(:name, :id), { include_blank: true }, class: 'form-control' %>
        </div>
        <div class="form-group col-xs-12 col-sm-3">
          <%= f.label :local_entry, 'local entry:', class: ' form-control' %>
          <%= f.check_box :local_entry, {}, 1, nil %>
        </div>
        <div class="form-group col-xs-12 col-sm-3">
          <%= f.label :return, 'return', class: ' form-control' %>
          <%= f.check_box :return, {}, 1, nil %>
        </div>
      </div>
      <div class='row'>
        <div class="form-group col-xs-12 col-sm-4">
          <%= f.label :created_at_gteq, 'Дата от:', class: 'control-label' %>
          <%= f.text_field :created_at_gteq, value: @q.created_at_gteq, class: 'datepicker form-control', autocomplete: :off %>
        </div>
        <div class="form-group col-xs-12 col-sm-4">
          <%= f.label :created_at_lteq, 'Дата до:', class: 'control-label' %>
          <%= f.text_field :created_at_lteq, value: @q.created_at_gteq, class: 'datepicker form-control', autocomplete: :off %>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-12 col-sm-6">
          <%= f.submit 'Фильтр', class: 'btn btn-primary' %>
          <%= link_to 'Очистить поиск', request.path, class: 'btn btn-default' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
