<%# do nor show provider if local entry %>
<%= simple_form_for(@product_entry) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :product, label: 'Товар', collection: @products %>
    <%= f.association :storage, label: 'Склад', collection: Storage.pluck(:name, :id), include_blank: false %>
    <% unless @product_entry.local_entry %>
      <%= f.input :buy_price, label: 'Цена прихода каждого товара' %>
      <%= f.input :sell_price, label: 'Цена продажи каждого товара' %>
      <%= f.input :service_price, label: 'Цена сервиса', placeholder: 'Будет равен к цену продажи если не заполняете эту полю' %>
    <% end %>

    <%= f.input :amount, id: 'inputs' %>

    <%= f.input :comment, label: 'Коммент', placeholder: 'Не обязательно' %>
    <%= f.input :return, as: :hidden %>
    <%= f.input :amount_sold, as: :hidden %>
    <%= f.input :local_entry, as: :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Завершить' %>
  </div>
<% end %>
