<%# do nor show provider if local entry %>
<%# removed service price %>
<%= simple_form_for(@product_entry) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :product, label: 'Товар', collection: Product.active.where(local: params[:local_entry] == 'true'), include_blank: false %>
    <%= f.association :storage, label: 'Склад', collection: Storage.pluck(:name, :id), include_blank: false %>
    <%= f.association :delivery_from_counterparty, as: :hidden %>
    <%= f.association :sale_from_local_service, as: :hidden %>
    <%= f.input :amount, label: 'количество', id: 'inputs' %>

    <% unless @product_entry.local_entry %>
      <%= f.input :buy_price, label: 'Цена прихода каждого товара в $' %>
      <%= f.input :sell_price, label: 'Цена продажи каждого товара в $' %>
    <% end %>

    <%= f.input :comment, label: 'Коммент', placeholder: 'Не обязательно' %>
    <%= f.input :return, as: :hidden %>
    <%= f.input :amount_sold, as: :hidden %>
    <%= f.input :local_entry, as: :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Завершить' %>
  </div>
<% end %>
