<div id="<%= dom_id product_entry %>">
  <p>
    <strong>Local entry:</strong>
    <%= product_entry.local_entry %>
  </p>

  <p>
    <strong>Buy price:</strong>
    <%= product_entry.buy_price %>
  </p>

  <p>
    <strong>Sell price:</strong>
    <%= product_entry.sell_price %>
  </p>

  <p>
    <strong>Service price:</strong>
    <%= product_entry.service_price %>
  </p>

  <p>
    <strong>Provider:</strong>
    <%= product_entry.provider_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= product_entry.product_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= product_entry.amount %>
  </p>

  <p>
    <strong>Amount sold:</strong>
    <%= product_entry.amount_sold %>
  </p>

  <p>
    <strong>Total paid:</strong>
    <%= product_entry.total_paid %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= product_entry.total_price %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= product_entry.comment %>
  </p>

  <p>
    <strong>Return:</strong>
    <%= product_entry.return %>
  </p>

</div>
