<div class='container'>
  <% unless @sale_from_local_service.closed? %>
    <%= render 'layouts/progress', value: '46' %>
    <%= link_to 'Добавить затрат товара', new_product_sell_path(sale_from_local_service_id: @sale_from_local_service.id), class: "btn btn-primary min-width-btn" %>
  <% end %>
  <br><br>

  <% unless @product_sells.count.zero? %>
    <%= render 'product_sells/product_sells', product_sells: @product_sells %>
  <% end %>


  <% unless @sale_from_local_service.closed? %>
    <%= simple_form_for(@sale_from_local_service) do |f| %>
      <%= f.input :status, as: :hidden, input_html: { value: 1 } %>
      <div class="form-actions">
        <%= f.button :submit, 'Завершить операцию', class: 'btn-success', title:'После завершении вы не сможете добавить или удалить товаров' %>
      </div>
    <% end %>
  <% end %>
  <br>
</div>
