<div class='container'>
  <% unless @sale_from_local_service.closed? %>
    <%= render 'layouts/progress', value: '46' %>
    <%= render 'product_sells/form', product_sell: ProductSell.new(sale_from_local_service_id: @sale_from_local_service.id) %>
  <% end %>
  <br><br>

  <% unless @product_sells.count.zero? %>
    <%= render 'product_sells/product_sells', product_sells: @product_sells %>
  <% end %>


  <% unless @sale_from_local_service.closed? %>
    <%= simple_form_for(@sale_from_local_service) do |f| %>
      <%= f.input :status, as: :hidden, input_html: { value: 1 } %>
      <div class="form-actions">
        <%= f.button :submit, 'Завершить операцию', class: 'btn-success', title:'После завершении вы не сможете добавить или удалить товаров' %>
      </div>
    <% end %>
  <% end %>
  <br>
</div>
