<%= simple_form_for(expenditure) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :combination_of_local_product, as: :hidden %>
    <%= f.association :delivery_from_counterparty, as: :hidden %>
    <%= f.input :payment_type, label: 'Тип оплаты', collection: Expenditure.payment_types.keys.map { |unit| [Expenditure.human_attribute_name("unit.#{unit}"), unit] }, include_blank: false %>
    <%= f.input :price, as: :numeric, label: 'Сумма $:' %>
    <%= f.input :total_paid, label: 'Оплачено', placeholder: 'Пропустите этот поле если вы оплатили полностью' %>

    <% unless expenditure.combination_of_local_product %>
      <%= f.input :expenditure_type, label: 'Тип расхода', collection: Expenditure.expenditure_types.keys.map { |unit| [Expenditure.human_attribute_name("unit.#{unit}"), unit] }, include_blank: false %>
    <% end %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Завершить' %>
  </div>
<% end %>
