
<%= simple_form_for(buyer) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :phone_number %>
    <%= f.input :comment %>
    <%= f.input :active %>
  </div>

  <div class="form-actions">
    <%= f.submit "Завершить", "data-turbo-action": "append", "data-turbo-target": "buyers" %>
  </div>
<% end %>
