<div class='container'>
  <%= render 'layouts/progress', value: '72' %>

  <%= link_to 'Добавить затрат товара', new_product_sell_path(combination_of_local_product_id: @combination_of_local_product.id), class: "btn btn-success min-width-btn" %>
  <%= link_to 'Добавить расход', new_expenditure_path(expenditure_type: 'на_производство', combination_of_local_product_id: @combination_of_local_product.id), class: "btn btn-success min-width-btn" %>
  <br><br>

  <%= render 'product_entries/product_entry', product_entry: @combination_of_local_product.product_entry %>

  <% unless @product_sells.count.zero? %>
    <%= render 'product_sells/product_sells', product_sells: @product_sells %>
  <% end %>

  <% unless @expenditures.count.zero? %>
    <%= render 'expenditures/expenditures', expenditures: @expenditures, expenditures_data: @expenditures_data %>
  <% end %>
</div>
