<div class='container'>
  <%= render 'layouts/progress', value: '72' %>

  <% unless @combination_of_local_product.closed? %>
    <%= render 'product_sells/form', product_sell: ProductSell.new(combination_of_local_product_id: @combination_of_local_product.id) %>
    <%= link_to 'Добавить расход', new_expenditure_path(expenditure_type: 'на_производство', combination_of_local_product_id: @combination_of_local_product.id), class: "btn btn-primary min-width-btn" %>
  <% end %>
  <br><br>

  <%= render 'product_entries/product_entry', product_entry: @combination_of_local_product.product_entry %>

  <% unless @product_sells.count.zero? %>
    <%= render 'product_sells/product_sells', product_sells: @product_sells %>
  <% end %>

  <% unless @expenditures.count.zero? %>
    <%= render 'expenditures/expenditures', expenditures: @expenditures, expenditures_data: @expenditures_data %>
  <% end %>
  <br>

  <% unless @combination_of_local_product.closed? %>
    <%= simple_form_for(@combination_of_local_product) do |f| %>
      <%= f.input :status, as: :hidden, input_html: { value: 1 } %>
      <div class="form-actions">
        <%= f.button :submit, 'Завершить операцию', class: 'btn-success', title:'После завершении вы не сможете добавить или удалить товаров' %>
      </div>
    <% end %>
  <% end %>
