<table class="table table-hover table-bordered table-striped">
  <thead>
    <tr>
      <td></td>
      <th>ID</th>
      <th>Итого цена</th>
      <th>Оплачено</th>
      <th>Покупатель</th>
      <th>Тип оплаты</th>
      <th>Комментарие</th>
      <th>Оформлено в</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% sales.each do |sale| %>
      <tr>
        <td><%= active_check(sale.closed?) %></td>
        <td class="<%= detect_danger_row(sale.total_price, sale.total_paid) %>"><%= sale.id %></td>
        <td><%= number_to_currency sale.total_price %></td>
        <td><%= number_to_currency sale.total_paid %></td>
        <td><%= sale.buyer.name %></td>
        <td><%= sale.payment_type %></td>
        <td><%= sale.comment %></td>
        <td><%= strf_datetime sale.created_at %></td>
        <td><%= clink_to 'Посмотреть', sale_path(sale), 'fa-search' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
