<div class="container my-5">
  <div class="card shadow-lg">
    <div class="card-body">
      <%= render 'sale_from_local_services/filter_form', q: @q, url: request.path %>
      <%= render 'sales', sales: @sales %>
      <%= paginate @sales %>
      <table class='table-bordered'>
        <thead>
          <tr>
            <th>Итого цена</th>
            <th>Итого оплачено</th>
            <th>Разница</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= number_to_currency(@all_sales.sum(:total_price)) %></td>
            <td><%= number_to_currency @all_sales.sum(:total_paid) %></td>
            <td><%= @all_sales.sum(:total_price) - @all_sales.sum(:total_paid) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
